


<div class="stylediv">
    <img width="200" height="200" alt="Angular Logo" src="../assets/img/charmi-pic.jpg">
    <div>
      Name:- {{ employee.name }}
    </div>
    <div>
      Designation:- {{ employee.designation }}
    </div>
    <div>
      Email:- {{ employee.email }}
    </div>
    <div>
      Contact:- {{ employee.contact }}
    </div>
    <div>
        <button (click)="myFunction(employee)">Click Me</button>
      </div>
      <app-moreinfo [values]="values"></app-moreinfo>
    
  </div>

