


<div class="stylediv" >
    <img width="200" height="200" alt="Angular Logo" src="../assets/img/charmi-pic.jpg">
    <div>
      Name:- {{ employee.name }}
    </div>
    <div>
      Designation:- {{ employee.designation }}
    </div>
    <div>
      Email:- {{ employee.email }}
    </div>
    <div>
      Contact:- {{ employee.contact }}
    </div>
    
  </div>

  
<!-- <div class="stylediv" >
    <img width="200" height="200" alt="Angular Logo" src="../assets/img/charmi-pic.jpg">
    <div>
      Name:- {{ employee2.name }}
    </div>
    <div>
      Designation:- {{ employee2.designation }}
    </div>
    <div>
      Email:- {{ employee2.email }}
    </div>
    <div>
      Contact:- {{ employee2.contact }}
    </div>
    
  </div> -->
